<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body style="display: flex; justify-content: center; align-items: center; min-height: 100vh;"><div >
    <form method="post">
      {% csrf_token %}
      </div>
      <table>
          <tr>
              <th><label for="{{ form.username.id_for_label }}">Username:</label></th>
              <td>{{ form.username }}</td>
          </tr>
          <tr>
              <th><label for="{{ form.password.id_for_label }}">Password:</label></th>
              <td>{{ form.password }}</td>
          </tr>
          <tr>
              <td></td> <!-- An empty cell for spacing -->
              <td><input type="submit" value="Submit"></td>
          </tr>
      </table>
  </form>
  </div>
   
  </body>
</html>
