<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>We are sorry to see you go!</h2>

    <script>
      setTimeout(function () {
        // Redirect to the desired page
        window.location.href = "http://localhost:8000/todo/"; // Replace with your target URL
      }, 5000);
    </script>
  </body>
</html>
